.content {
    width: 100%;
    height: 600px;
    background: url(../images/影音互動_背景2.jpg) no-repeat;
    background-size: 100%;
    color: #fff;
    text-align: center;
    }
    .viewMain {
        width: 780px;
        margin: 0 auto;
        padding: 130px;
    }
    .viewList{
        width: 500px;
        height: 300px;
        margin:  0 auto;
        padding-top: 30px;
        padding-left: 530px;
    }
    .viewMain h1 {
        margin: 0;
        width: 100px;
        padding: 0px;
    }
    .viewMain ul{
        width: 300px;
        margin: 0;
        padding-left: 80px;
    }
    .viewMain p {
        margin: 0;
        width: 500px;
        padding-top: 10px;
        padding-left: 20px;
        text-align: left;
    }
    .viewMain li {
        display: inline-block;
        margin: 10px;
    }
    .viewMain a>img {
        height: 70px;
    }
    